<!doctype html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link href="assets/css/main.css" rel="stylesheet"/>
    </head>
    <body>

        <div class="grid-container">

            <div
                class="grid-y medium-grid-frame">
                {# header #}
                <div class="cell medium-shrink header">
                    {% include "../includes/header.twig" %}
                </div>

                {# content #}
                {# {% block content %} #}
                <div class="cell medium-auto body">
                    {% block content %}
                       {# each page has its blocks #}
                    {% endblock %}
                </div>

                {# footer #}
                <div class="cell medium-shrink footer">
                    {% include "../includes/footer.twig" %}
                </div>
            </div>

        </div>

        {# scripts #}
        <script src="./assets/js/script.js"></script>

    </body>

</html>
