{% extends "layouts/default.foundation.twig" %}

{% block content %}

    <!-- ================== Block Main Top ================== -->
    {% include 'blocks/block-main-top.twig' %}
    <div class="grid-container full">

        <div class="grid-y medium-grid-frame">
            <div class="cell shrink header">Header</div>
            <div class="cell auto body medium-cell-block-container">
                    <div class="grid-x grid-margin-y grid-margin-x">
                        <div class="medium-12 cell medium-cell-block-y">
                        <div class="big-block"></div>
                    </div>
                </div>
            </div>
            <div class="cell shrink footer">Footer</div>
        </div>

    </div>

    <!-- ================== Block Main Bottom ================== -->
    {% include 'blocks/block-main-bottom.twig' %}

{% endblock %}