{% extends "layouts/default.twig" %}

{% block content %}

    {# full non scrollable #}
    {# <div class="grid-y medium-grid-frame">
        <div class="cell medium-4 item">cell 1</div>
        <div class="cell medium-12 item">cell 2</div>
    </div> #}

    <div class="grid-x medium-cell-block-y">
        {# blocks #}
        {% include 'blocks/block-main-top.twig' %}
    </div>

{% endblock %}
