{% extends "layouts/default.twig" %}

{% block content %}

    {# here must include blocks of this page and create page.twig.json for data access#}
    {% include 'blocks/block-main-top.twig' %}

    {# Another block #}
    <div class="cell medium-4">cell 1</div>
    <div class="cell medium-4">cell 2</div>
    <div class="cell medium-4">cell 3</div>
    <div class="cell medium-4">cell 4</div>
    <div class="cell medium-4">cell 5</div>
    <div class="cell medium-4">cell 6</div>

{% endblock %}